
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.project-feature-container{
  text-align: center;
  color: #006565;
}

.photo-feature-container {
  text-align: center;
  color: #006565;
}

.typography-feature-container {
  text-align: center;
  color: #006565;
}

.volcom-feature-container {
  text-align: center;
  color: #006565;
}

.aboutme-feature-container {
  text-align: center;
  color: #006565;
}

.contacts-feature-container {
  text-align: center;
  color: #006565;
}

h1{
  font-size: 100px;
  margin-bottom: 5em;
  margin-top: 3em;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  font-size: 70px;
  margin-bottom: 2em;
  margin-top: 3em;
  font-style: normal;
  font-family: 'Abril Fatface', cursive;
  color: #FFFFFF;
}

h3 {
  font-family:'Abril Fatface', cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 4em;
  color: #006565;
}

h4 {
  font-family:'Abril Fatface', cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 4em;
  margin-top: 0em;
  color: #A1E7E7;
}
h5 {
  font-family:'Abril Fatface', cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 3em;
  margin-top: 0em;
  color: #AC6143;
}

h6{
  font-family:'Abril Fatface', cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 4em;
  margin-top: 0em;
  color: #AC6143;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #006565;
}

footer {
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  text-align: center;
  color: white;
}

ul {
  font-family: 'Raleway', sans-serif;
  color: #838383;
}

header{
  font-family: 'Abril Fatface', cursive;
  color: #FFFFFF;
}
